$header-height: 60px;
$min-slide-height: calc(100vh - $header-height);

$primary-dark-color: #1b1e27;
$primary-light-color: white;

$primary-accent-color: #ff866e;
$secondary-accent-color: #ff914d;
$terciary-accent-color: #ff726d;
