@import "../../styles/constants.scss";

.at-home-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $min-slide-height;

  padding: 0px;

  scroll-margin-top: $header-height;
  background-color: transparent;
  overflow: clip;

  .at-graph-animation {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  @media screen and (min-width: 1501px) {
    .inner-div {
      padding: 0px 320px;
      width: 900px;

      .slogan {
        font-size: 90px;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
    .inner-div {
      padding: 0px 240px;
      width: 900px;

      .slogan {
        font-size: 90px;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 901px) and (max-width: 1400px) {
    .inner-div {
      padding: 0px 128px;
      width: 900px;

      .slogan {
        font-size: 90px;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .inner-div {
      padding: 0px 32px;

      .slogan {
        line-height: 100%;

        font-size: 70px;
        font-weight: 600;
      }
    }
  }

  .inner-div {
    .slogan {
      color: $primary-accent-color;
      line-height: 125%;

      &-subtitle {
        margin-top: 8px;
        font-size: 24px;
      }
    }

    padding-bottom: 32px;
    .call-to-action-button {
      margin-top: 32px;
    }
  }
}
