@import "../../styles/constants.scss";

.at-contact-slide {
  .at-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .at-contact-subtitle {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .at-contact {
    font-size: 18px;
    font-weight: 500;

    a {
      font-weight: 400;

      color: $primary-accent-color;

      &:hover {
        filter: brightness(0.85);
      }

      &:active {
        filter: brightness(0.95);
      }

      transition: filter 0.25s;
    }
  }

  .at-questions-container {
    margin-top: 32px;

    .at-faq-question {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      display: flex;
      justify-content: space-between;
      text-align: left;
      align-items: center;

      width: 100%;
      background-color: #ddd;
      color: $primary-dark-color;
      border-radius: 4px;

      padding: 16px;
      margin-top: 8px;
      font-weight: 500;
    }

    .at-faq-answer {
      transition: font-size 0.2s, padding 0.2s, color 0.2s;
      overflow: hidden;

      &.not-active {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 0px;
        color: transparent;
      }

      a {
        color: $primary-accent-color;

        &:hover {
          filter: brightness(0.9);
        }

        transition: filter 0.2s;
      }

      padding: 16px;
    }
  }
}
