@import "../../styles/constants.scss";

.at-apply-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $primary-dark-color;

  .are-you-ready {
    margin-bottom: 32px;
    color: $primary-light-color;

    font-size: 28px;
    font-weight: 500;
  }

  .apply-button {
    text-decoration: none;

    font-size: 28px;
    background-color: $primary-accent-color;
    color: $primary-dark-color;

    padding: 16px 32px;
    border-radius: 1000px;

    &:hover {
      filter: brightness(0.85);
    }

    &:not(.disabled):active {
      filter: brightness(0.95);
    }

    &.disabled {
      cursor: not-allowed;
    }

    transition: filter 0.25s;
  }
}
