@import "../../styles/constants.scss";

.at-scoreboard{
    .at-title{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    .at-scoreboard-data-wrapper{
        position: relative;

        .blur-wrapper{
            filter: blur(10px);
        }

        .coming-soon-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 100%;
            width: 100%;
            text-align: center;
            z-index: 2;
        }
    }

    .at-scoreboard-data{
        font-size: 24px;
        font-weight: 500;
        padding: 32px;
        border-radius: 8px;
        background-color: #1b1e27cc;
        box-shadow: 0px 0px 16px 8px #1b1e27cc;
        color: $primary-light-color;

        a{
            text-decoration: none;
            color: $primary-accent-color;

            &:hover{
                filter: brightness(0.85);
            }

            &:active{
                filter: brightness(0.95);
            }

            transition: filter 0.25s;
        }
    }

    .at-scoreboard-data-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .at-scoreboard-data-header-name{
        font-size: 50px;
        font-weight: 500;
    }

    .at-scoreboard-data-header-score{
        font-size: 50px;
        font-weight: 500;
    }

    .at-scoreboard-data-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .at-scoreboard-data-row-name{
        font-size: 24px;
        font-weight: 500;
    }

    .at-scoreboard-data-row-score{
        font-size: 24px;
        font-weight: 500;
    }


}