@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Monomaniac One';
    src: url('./fonts/Monomaniac One Regular HR.ttf');
  }

  html {
    font-family: 'Monomaniac One', sans-serif;
  }
}
