@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
 width: 100%;
}

@layer base{
    @font-face {
        font-family: "Monomaniac One";
        src: url('./fonts/MonomaniacOne-Regular.ttf');
    }
}