@import "../../styles/constants.scss";

.at-schedule-slide {
  .at-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .at-schedule-data-wrapper {
    position: relative;

    .blur-wrapper {
      filter: blur(10px);
    }

    .coming-soon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center;
      z-index: 2;
    }
  }

  .coming-soon {
    font-size: 24px;
    font-weight: 500;
    width: 60%;
    padding: 32px;
    border-radius: 8px;
    background-color: #1b1e27cc;
    box-shadow: 0px 0px 16px 8px #ccc;
    color: $primary-light-color;

    a {
      text-decoration: none;
      color: $primary-accent-color;

      &:hover {
        filter: brightness(0.85);
      }

      &:active {
        filter: brightness(0.95);
      }

      transition: filter 0.25s;
    }
  }

  .at-radio-button {
    margin-bottom: 32px;

    @media (max-width: 900px) {
      margin-bottom: 16px;
    }
  }

  .at-event-card {
    display: flex;
    padding: 32px 0px;

    flex-direction: column;

    border-bottom: 1px solid $primary-accent-color;

    &:last-child {
      border-bottom: none;
    }

    .at-event-header {
      display: flex;
      flex-direction: row;

      gap: 32px;
      align-items: center;
      margin-bottom: 8px;

      .at-host-image-wrapper {
        .at-host-image {
          width: 80px;
          height: 80px;

          object-fit: cover;
          border-radius: 100%;
        }
      }

      .at-host-data-wrapper {
        .at-host-name {
          font-weight: 500;
          font-size: 24px;
        }

        .at-host-description {
          color: $primary-dark-color;
          opacity: 80%;
        }
      }
    }

    .at-event-name {
      font-size: 28px;
      font-weight: 500;
    }

    .at-event-time-and-location {
      font-size: 16px;
      font-weight: 300;
      opacity: 80%;
      margin-bottom: 8px;
    }
  }
}
